body {
    background: #e46643;
    color: #444;
    
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 0;
    margin: 0;
}
div, p, a, img, form, button{
    box-sizing: border-box; 
    /*сво-ва width и height вкл. знач. padding и border */
}
a{
    text-decoration: none;
    /*убрать подчёркивание ссылок*/
}
ul, li{
    display: block; /*для избежания проблем в различных браузерах*/
    
    padding: 0;
    margin: 0; 
}
.wrapper {
    margin: 70px auto;
    width: 1160px;
}
/* MENU */
.container {
    display: block;
    
    background: #fff;
    color: #444;
    box-shadow: inset 0px -40px 36px rgba(0, 0, 0, 0.044);
    /*наконец-таки, переход от серого к белому с размытием*/
}
.nav {
    display: flex; /*выравнивание всех эл оболочки в одну строку*/
    align-items: center;
    box-shadow: 1px 15px 35px -30px #000;

}
.menu {
    display: flex;
    
    margin-left: 40px;
    
    align-items: center;
}
    .menu li {
    font-size: 12px;
    
    margin-right: 45px;
    }
    .menu li a { 
        display: inline-block;
        color: #444;

        position: relative; 
        padding: 10px 0;
        
        text-decoration: none;
    }
    /*--- эффекты: подчёркивание + полужирный шрифт---*/
    .menu li a:before {
        display: block;
        position: absolute;

        background: #444;
        content: "";
        
        height: 3px;
        width: 0;

        transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        
        left: 50%;
        bottom: 0;
    }
    .menu li a:after {
        display: block;
        position: absolute;

        background-color: #444;
        content: "";

        height: 3px;
        width: 0;
        
        transition: width 0.3s ease-in-out;
        
        left: 50%;
        bottom: 0;
    }
    .menu li a:hover:before {
        width: 50%;
        left: 0;
    }
    .menu li a:hover:after {
        width: 50%;
    }
    
    .menu li.active a,
    .menu li a:hover {
        font-weight: bold;
    }
    
li.title-1 {
    font-size: 16px;
    font-weight: bold;
}
li.vertical-align {
    border-right: 1px solid #444;
    padding-right: 40px;
    
    line-height: 40px;
}
/* SEARCH BOX */
.input-wrapper__input {
    width: 400px;
    height: 80px;
  }
.input-wrapper__cart{
    position: absolute;
    margin: 24px auto;
    right: 170px;
}
.input-wrapper__s-icon{
    position: absolute;

    margin: 27px 170px auto;
  }
  .s-icon__circle{
    width: 13px;
    height: 13px;
    background: none;
    border-radius: 50%;
    border: 2px solid #444;
    box-sizing: border-box;
    outline: none;
  }
  .s-icon__line{
    position: absolute;
    width: 20px;
    height: 20px;
    top:0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
  }
  .s-icon__line:before{
    content: "";
    width: 2px;
    height: 10px;
    background: #444;
    position: absolute;
    transform: rotate(-45deg);
    bottom: -2px;
    right: -2px;
  }
.input-wrapper__search {
    width: 150px;
    margin-left: 200px;
    position: absolute;
    top: 90px;
}
  .input-wrapper__search:after {
    position: absolute;
    
    overflow: hidden;
    user-select: none;
    
    font-size: 13px;
  }
  input {
    background: none;
    color: #444;

    outline: none;
    border: none;
    border-radius: 0;

    line-height: 40px;

    padding: 0;
    width: 120px;
    
    font-size: 13px;
  }
/*--THE END: header(menu)--*/

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
}
 /*-------FOOTER----------------*/
 #footer {
    display: block;
    position: relative;

    width: 1160px;
    height: 50px;

    margin-top: 40px;

    box-shadow: 1px 15px 35px -20px #000;

    color:#999;
    background-color: #f8f8f8;
}
.footer-block {
    display: flex;
    margin-left: 40px;
    align-items: center;
}
.footer-block li {
    font-size: 12px;
    
    margin-right: 755px;
    margin-top: 10px;
    }
    li.title-2 {
        font-weight: bold;
        color: #333;
    }
    li.vertical-align-2 {
    border-right: 1px solid #b5b5b5;
    padding-right: 40px;
    
    line-height: 24px;
    }
.footer_links{
    float:right;
    padding: 18px 45px 0 0;
}
.footer_links a {

    display: inline-block;
    margin-left: 21px;
}
@font-face {
    font-family: 'lternateGothicNo2BTRegular';

    src: url('fonts/lternateGothicNo2BTRegular/lternateGothicNo2BTRegular.eot'),
    url('fonts/lternateGothicNo2BTRegular/lternateGothicNo2BTRegular.woff') format('woff'),
    url('fonts/lternateGothicNo2BTRegular/lternateGothicNo2BTRegular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}